{% extends "layouts/base.html" %}
{% load static %}

{% block title %} My First Index HTML Page {% endblock title %}

{% block content %}
  <h1 style="color: blue;">Welcome to the Library</h1>
  <p style="color: white;background-color: black;">Browse our collection of programming and web development books.</p>
  <a href="https://www.w3schools.com/html/default.asp">Click Here to learn more about HTML & CSS</a>
  <hr>
  <h2>Our Books</h2>
  <p>Explore books on Django, web programming, and more.<br/> Open the List Books page to see them<br/> and click a book to view its details.</p>
  <hr>
  <h2>Contact Us</h2>
  <p>Visit the About page to get in touch with us.</p>
{% endblock content %}